<h1>Members Only</h1>

<% if (user) {%>
    <p>Welcome <%= user.FirstName %></p>
    <a href="/messages/new">Create Message</a>
    <a href="/auth/logout">Logout</a>
<% } else { %>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
<% } %>

<hr>

<% messages.forEach(msg=>{ %>
    <div>
        <h3><%= msg.Title %></h3>
        <p><%= msg.MessageText %></p>

        <% if (user && user.IsMember) { %>
            <small>By: <%= msg.FirstName %></small>
            <small><%= new Date(msg.CrearedAt).toDateString() %></small>
        <% } %>
    </div>
<% }) %>
